<h3>Create Player</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">ID</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="player.id" name="id">
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="player.name" name="name">
    </div>

    <div class="form-group">
        <label for="name">Age</label>
        <input type="text" class="form-control" id="age" required [(ngModel)]="player.age" name="age">
    </div>

    <div class="form-group">
        <label for="name">Position</label>
        <input type="text" class="form-control" id="position" required [(ngModel)]="player.position" name="position">
    </div>

    <div class="form-group">
        <label for="name">Height</label>
        <input type="text" class="form-control" id="height" required [(ngModel)]="player.height" name="height">
    </div>
    <div class="form-group">
        <label for="name">Weight</label>
        <input type="text" class="form-control" id="weight" required [(ngModel)]="player.weight" name="weight">
    </div>
    <div class="form-group">
        <label for="name">Goals</label>
        <input type="text" class="form-control" id="numberOfGoals" required [(ngModel)]="player.numberOfGoals" name="numberOfGoals">
    </div>
    <div class="form-group">
        <label for="name">Yellow</label>
        <input type="text" class="form-control" id="numberOfYellowCards" required [(ngModel)]="player.numberOfYellowCards" name="numberOfYellowCards">
    </div>
    <div class="form-group">
        <label for="name">Red</label>
        <input type="text" class="form-control" id="numberOfRedCards" required [(ngModel)]="player.numberOfRedCards" name="numberOfRedCards">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
