<div>
   <!--  <div>
        <app-home></app-home>
    </div>
    <div>
        <app-news></app-news>
    </div>
    <div>
        <app-ticket></app-ticket>
    </div>
    <div>
        <app-shop></app-shop>
    </div>
    <div>
        <app-fondation></app-fondation>
    </div>
    <div>
        <app-club></app-club>
    </div>
    <div>
        <app-players></app-players>
    </div> -->

    <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <app-ticket></app-ticket>
            </li>
            <li class="nav-item">
                <app-shop></app-shop>
            </li>
            <li class="nav-item">
                <app-fondation></app-fondation>
            </li>
            <li class="nav-item">
                <app-club></app-club>
            </li>
            <li class="nav-item">
                <app-players></app-players>
            </li>
        </ul>
    </nav> -->
    <!-- header -->
    <div fxLayout="column" fxFlexFill>
        <div>
            <app-header></app-header>
        </div>
        <div fxFlex class="content">
            <div class="flex-container backgroudcolor" fxLayout="row" fxLayoutAlign="space-between">
                <button routerLink="/home" class="btn btn-secondary">Home</button>
                <button routerLink="/news" class="btn btn-secondary">News</button>
                <button routerLink="/tickets" class="btn btn-secondary">Tickets</button>
                <button routerLink="/shop" class="btn btn-secondary">Shop</button>
                <button routerLink="/fondation" class="btn btn-secondary">Fondation</button>
                <button routerLink="/club" class="btn btn-secondary">Club</button>
                <button routerLink="/players" class="btn btn-secondary">Players</button>
            </div>
            <router-outlet>
        
            </router-outlet>
        </div>
        <div class="footer">
            <!-- footer -->
            <app-footer class="mt-auto"></app-footer>
        </div>
    </div>
</div>