<h2>Player Details</h2>
<hr/>
<div *ngIf="player">
    <div>
      <label><b>Name: </b></label> {{player.name}}
    </div>
    <div>
      <label><b>Age: </b></label> {{player.age}}
    </div> 
    <div>
        <label><b>Position: </b></label> {{player.position}}
    </div>
    <div>
        <label><b>Height: </b></label> {{player.height}}
    </div>
    <div>
        <label><b>Weight: </b></label> {{player.weight}}
    </div>
    <div>
        <label><b>Number of goals: </b></label> {{player.numberOfGoals}}
    </div>
    <div>
        <label><b>Number of yellow cards: </b></label> {{player.numberOfYellowCards}}
    </div>
    <div>
        <label><b>Number of red cards: </b></label> {{player.numberOfRedCards}}
    </div>
  </div>
  
  <br>
  <br>
<button  (click)="backClicked()"  class="btn btn-primary">Back to Employee List</button><br>