<div>
  <!-- <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button> -->
  <button mat-button mat-flat-button color="primary" routerLink="{{ './create/' }}">
    <mat-icon>person_add</mat-icon><span>Add Player</span>
  </button>
  <table mat-table [dataSource]="dataSource" class="lessons-table mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let player"> {{player.name}} </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let player"> {{player.age}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let player"> {{player.position}} </td>
      </ng-container>

      <!-- Height Column -->
      <ng-container matColumnDef="height">
          <th mat-header-cell *matHeaderCellDef> Height </th>
          <td mat-cell *matCellDef="let player"> {{player.height}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let player"> {{player.weight}} </td>
      </ng-container>
    
      <!-- Number of goals Column -->
      <ng-container matColumnDef="numberOfGoals">
        <th mat-header-cell *matHeaderCellDef> Goals </th>
        <td mat-cell *matCellDef="let player"> {{player.numberOfGoals}} </td>
      </ng-container>

      <!-- Number of yellow cards Column -->
      <ng-container matColumnDef="numberOfYellowCards">
          <th mat-header-cell *matHeaderCellDef> Yellow cards </th>
          <td mat-cell *matCellDef="let player"> {{player.numberOfYellowCards}} </td>
      </ng-container>

      <!-- Number of red cards Column -->
      <ng-container matColumnDef="numberOfRedCards">
          <th mat-header-cell *matHeaderCellDef> Red cards </th>
          <td mat-cell *matCellDef="let player"> {{player.numberOfRedCards}} </td>
      </ng-container>
    
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef> </th>
        <td  mat-cell *matCellDef="let player" class="action-link"> 
          <button mat-button mat-flat-button color="accent" routerLink="{{ './edit/' + player.id }}">
            <mat-icon>edit</mat-icon>
            <span>edit</span>
          </button> |
          <button mat-button (click)="remove(player)" mat-flat-button color="warn">
            <mat-icon>delete</mat-icon>
            <span>remove</span>
          </button> | 
          <button mat-button mat-flat-button color="primary" routerLink="{{ './detail/' + player.id }}">
            <mat-icon>visibility</mat-icon>
            <span>show</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.name}" (click)="onRowClicked(row)"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.name}"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>