.highlight {
    background: #b9c3c9;
}

.mat-row:hover {
    background-color: #b9c3c9;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

.mat-cell {
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
}

.spinner-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #fafafa; 
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
}